<div>
  <h4 class="sub-title">通知</h4>
  <% if @notices.exists? %>
    <div class="users-index">
      <%= render @notices %>
      <%= paginate @notices %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>