<div class="comments_lists">
  <%  @post.comments.each do |comment| %>
    <div class="comments_list">
      <%= link_to image_tag(comment.user.image.variant(resize: '30x30'),class: "comment_img"), user_path(comment.user) if comment.user.image.attached? %>
      <%= link_to "#{comment.user.name}:", user_path(comment.user), class: :comment_user %>
      <%= comment.content%>
    </div>
  <% if user_signed_in? && current_user.id == comment.user_id %>
    <%= link_to "削除", post_comment_path(comment.post.id, comment.id), method: :delete, remote: true, class: :comment_delete %>
    <% end %> 
  <% end %>
</div>