<div class="contents">
  <div class="first-view">
    <img src="assets/topyu.001.jpeg" alt="トップ画面" class="top-image">
    <h2>ゆをめぐる旅へでかけよう</h2>
  </div>
  <div class="app-setumei">
   <h3 class="second_title">こんな方におすすめ！</h3>
   <div class="second_colum">
      <div class="target">
        <%# <%= image_tag "target.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">温泉に行くことが趣味な方</h4>
        <p>行った温泉の写真をSNSに上げて<br>共有したい。<p>
      </div>
      <div class="target">
        <%# <%= image_tag "target.png",id:"pass-logo", :size =>'50x50' %> 
        <h4 class="target_text">日帰り温泉・旅館を探している方</h4>
        <p>満足ができる日帰り温泉・旅館<br>に行きたい。<p>
      </div>
    </div>
  </div>
</div>
