
<div class='post-contents'>
    <h2 class='title'></h2>
    <div class="subtitle" >

    </div>
    <div class='post-lists'>
      <% @post.each do |post| %>
      <div class='list'>
        <%= link_to posts_path(post) do %>
        <div class='post-img-content'>
          <%= link_to image_tag(post.image.variant(resize: '400x200'), class: "post-img"), post_path(post.id) if post.image.attached? %>
        </div>
        <div class='post-info'>
        </div>
        <% end %>
      </div>
      <% end %>
      
      
    </div>
  </div>

</div>
