body {
  font-size: 14px;
  color: black;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

header {
  position:fixed;
  height: 50px;
  width: 100%;
  background-color: transparent;
  padding: 10px 0;
  display: flex;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.navbar {
  width: 50%;
  padding: 20px;
}

.nav-lists {

  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

.link {
  color: #FFF;
}

.top-image {
  height: 100%;
  width: 100%;
}

