body {
  font-size: 14px;
  color: black;
  margin: 0 auto;
  font-family: '筑紫A丸ゴシック';
}

h1 {
  width: 120px;
  padding: 10px 5px;
  color: black;
}

ul,li {
  text-decoration: none;
  font-size: 20px;
  padding: 12px 5px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position:fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 5px 0;
  display: flex;
}

.heading {
  margin-left: 30px;
}

.navbar {
  width: 100vw;
}

.nav-lists {
  width: 100vw;
  display: flex;
}

li {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}

.link {
  color: #FFF;
}

.contents {
  height: 100%;
  width: 200vh;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 27px;
  font-family:'Comic Sans MS' 
}



/* 投稿一覧 */

.post-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  width: 100vw;
  height: 100vh;
  background-image:url(assets/mizu.jpg);
  background-size:100% 100%;
  background-repeat: no-repeat; 
}

.post-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.post-img-content {
  overflow:hidden;
}

.post-img {
  margin:0 10px;
  transition:1s all;
  width: 29vw;
}

.post-img:hover{
  transform: scale(1.1, 1.1);
  transition:1s all;
}
.post-address{
  color: black;
  text-align: center;
}