body {
  font-size: 14px;
  color: black;
  margin: 0 auto;
  font-family: '筑紫A丸ゴシック';
}


ul,li {
  text-decoration: none;
  padding: 12px 5px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

header {
  position:fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  margin: 0;
  padding: 5px 0;
display: flex;
  
}

.heading {
  margin-left: 20px;
  padding: 10px;
}

.appname {
  display: inline-block;
  width: 60px;
  height: 50px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 5px;
  padding: 12px 0px;
  font-family: 'Londrina Shadow', cursive;
}

.navbar {
  width: 100vw;
}

.nav-lists {
  width: 100vw;
  display: flex;
}

li {
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}

.link {
  color: #FFF;
}

.contents {
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
}

.top-image {
  width: 100vw;
  height: 100vh;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 30px;
  font-family: 'klee'
}



/* 投稿一覧 */

.post-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
  background-image:url(assets/mizu.jpg);
  background-size:100% 100%;
  background-repeat: no-repeat; 
}

.post-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.post-img-content {
  overflow:hidden;
}

.post-img {
  margin-left: 10px;
  transition:1s all;
  width: 32vw;
}

.post-img:hover{
  transform: scale(1.1, 1.1);
  transition:1s all;
}
.post-address{
  color: black;
  text-align: center;
}

/* 投稿一覧スマホ表示 */
@media (max-width: 390px) {
  .post-contents {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    max-width: 1500px;
    margin: 0 auto;
    height: 100vh;
    background-image:url(assets/mizu.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat; 
  }
  
  .post-lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  
  .post-img-content {
    overflow:hidden;
  }
  
  .post-img {
    margin-left: 10px;
    transition:1s all;
    width: 30vw;
  }
  
  .post-img:hover{
    transform: scale(1.1, 1.1);
    transition:1s all;
  }
  .post-address{
    color: black;
    text-align: center;
  }
}


/* トップページスマホ表示設定 */
@media (max-width: 390px) {
body {
  font-size: 12px;
  color: black;
  margin: 0 auto;
  font-family: '筑紫A丸ゴシック';
}
}

@media (max-width: 390px) {
ul,li {
  text-decoration: none;
  padding: 12px 5px;
  margin: 5px;
}
}

@media (max-width: 390px) {
header {
  position:fixed;
  height: 50px;
  top: 0;
  left: 0;
  background-color: transparent;
  margin: 0;
  padding: 5px 0;
display: flex;
}
}

@media (max-width: 390px) {
.heading {
  margin-left: 5px;
  padding: 10px;
}
}

@media (max-width: 390px) {
.appname {
  display: inline-block;
  width: 40px;
  height: 50px;
  left: 5px;
  font-size: 17px;
  margin-right: 50px;
  margin-top: 7px;
  padding: 12px 0px;
  font-family: 'Londrina Shadow', cursive;
}
}


@media (max-width: 390px) {
.navbar {
  width: 100vw;
}
}

@media (max-width: 390px) {
.nav-lists {
  width: 100vw;
  display: flex;
}
}

@media (max-width: 390px) {
li {
  font-size: 11px;
  margin-left: 7px;
  margin-right: 10px;
  list-style: none;
}
}

@media (max-width: 390px) {
.link {
  color: #FFF;
}
}

@media (max-width: 390px) {
.contents {
  height: auto;
}
}

@media (max-width: 390px) {
.top-image {
  width: 100vw;
  height: 100vh;
}
}

@media (max-width: 390px) {
p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 15px;
  font-family:'Comic Sans MS' 
}
}

.sp-nav {
   display: none; 
}

/* ハンバーガーメニュー実装 */
@media screen and (max-width: 390px) {
.navbar {
   display: none;
}

#hamburger {
  position: relative;
  display: block;
  width: 30px;
  height: 25px;
  margin: 0 0 0 auto;
}

#hamburger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}

#hamburger::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
#hamburger::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: #fff;
}

.sp-nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: block;
  width: 100%;
  background: rgba(173,216,230,0.5);
  transition: all .2s ease-in-out;
  opacity: 0.5;
  transform: translateY(-100%);
}

.sp-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.sp-nav li {
  margin: 0;
  padding: 0;
}
.sp-nav li span {
  font-size: 15px;
  color: #fff;
}
.sp-nav li a, .sp-nav li span {
  display: block;
  padding: 20px 0;
}

/*-閉じるアイコンー*/
.sp-nav .close {
  position: relative;
  padding-left: 20px;
}
/*バツ印線1*/
.sp-nav .close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( 45deg );
}
/*バツ印線2*/
.sp-nav .close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  transform: rotate( -45deg );
}

.toggle {
  transform: translateY( 0 );
  opacity: 1;
}
}


