
.form__wrapper{
  position: relative;
  height: 100vh;
  background-image:url(assets/mix.001.jpg);
  background-size:100% 100%;
  background-repeat: no-repeat; 
}

.form__area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
}

.form__text {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 0px;
  border-radius: 4px;
  border: 1px solid white;
  background: white;
  font-size: 16px;
  resize: none;
}

.field{
  padding-bottom: 10px;
  width: 100%;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  width: 50%;
  margin: 0 auto;
  margin-left: 50px;
}

.form__btn:hover {
  cursor: pointer;
}

@media (min-width: 769px) {
  .form__text {
    width: 500px;
    margin-top: 5px;
    height: 48px;
    padding: 10px 0px;
    border-radius: 4px;
    border: 1px solid white;
    background: white;
    font-size: 16px;
    resize: none;
  }

  .actions{
    margin-bottom: 40px;
    text-align: center;
  }
}