


.registration-main {
  max-width: 1500px;
  margin: 0 auto;
  height: 100vh;
  background-color: rgba(0,0,0,0);
  background-image:url(assets/mix.001.jpg);
  background-size:100% 100%;
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-wrap {
 
  width: 90%;
  background-color: transparent;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  height: 65px;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  text-align: center;
  line-height: 90px;
  font-size: 20px;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 10px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 85%;
  margin-top: 5px;
  height: 35px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid black;
  background: transparent;
  font-size: 16px;
  resize: none;
}

.login-btn {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-red-btn {
  width: 100%;
  background: transparent;
  border: 1px solid black;
  color: black;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.register-red-btn {
  width: 92%;
  background: transparent;
  border: 1px solid black;
  color: black;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

/* スマホサイズ */
@media (max-width: 390px) {
.registration-main {
  height: 100vh;
  background-color: rgba(0,0,0,0);
  background-image:url(assets/mix.001.jpg);
  background-size:100% 100%;
  background-repeat: no-repeat; 
  margin:auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}
}

@media (max-width: 390px) {
.form-wrap {
  max-width: 100%;
  background-color: transparent;
  padding-bottom: 70px;
}
}

@media (max-width: 390px) {
.form-header {
  width: 100%;
  height: 65px;
  text-align: center;
  font-size: 22px;
}
}

@media (max-width: 390px) {
.form-header-text {
  text-align: center;
  line-height: 100px;
  font-size: 12px;
}
}

@media (max-width: 390px) {
.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}
}

@media (max-width: 390px) {
.form-group:first-child {
  padding: 0;
}
}

@media (max-width: 390px) {
.form-text-wrap {
  width: 100%;
  height: 20%;
}
}

@media (max-width: 390px) {
.form-text {
  font-size: 14px;
  font-weight: bold;
}
}

@media (max-width: 390px) {
.input-default {
  width: 85%;
  margin-top: 5px;
  height: 35px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid black;
  background: transparent;
  font-size: 16px;
  resize: none;
}
}

@media (max-width: 390px) {
.login-btn {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
}
}

@media (max-width: 390px) {
.login-red-btn {
  width: 100%;
  background: transparent;
  border: 1px solid black;
  color: black;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
}

@media (max-width: 390px) {
.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
}

@media (max-width: 390px) {
.register-red-btn {
  width: 95%;
  background: transparent;
  border: 1px solid black;
  color: black;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}
}